/* CSS: Brian Jensen @ www.magnify.dk */

/*
  Google fonts
*/

@import url('http://fonts.googleapis.com/css?family=PT+Sans:regular,bold&subset=cyrillic');

/*
  Font, colors etc.
*/

/*
  Default
*/

html {
  background: #4a808d url('../images/gradient-background.png') repeat-x top center;
  height: 100%;
}

body {
  background: url('../images/body-background.jpg') no-repeat top center;
  color: #969a9b;
  font: 100%/150% Arial, Verdana, sans-serif;
  min-height: 100%;
}

a,
a:link,
a:visited,
a:active {
  color: #f1c600;
  outline: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

ul,
.block ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

td {
  vertical-align: top;
}

dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-bottom: 10px;
}

h1,
h2 {
  color: #fff;
  display: block;
}

h1 {
  font: bold 175%/175% Arial, Verdana, sans-serif;
}

h2 {
  font: bold 125%/125% Arial, Verdana, sans-serif;
}

h1 a,
h1 a:link,
h1 a:visited,
h1 a:hover,
h1 a:active,
h2 a,
h2 a:link,
h2 a:visited,
h2 a:hover,
h2 a:active {
  color: #fff;
  text-decoration: none;
}

/*
  Containers
*/

#wrapper {
  padding: 0 0 35px;
}

#header {
  height: 205px;
  position: relative;
}

#logo {
  left: 30px;
  position: absolute;
  top: 25px;
}

#main {
  background: #0e191d url('../images/content-bg.jpg') no-repeat top;
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  font-size: 80%;
  min-height: 300px;
  padding: 25px 20px;
}

.front #content,
#content {
  margin: 0 20px 0 0;
}

#sidebar-left,
#sidebar-right {
  font-size: 90%;
  margin: 0;
}

#sidebar-left {
  margin: 0 20px 0 0;
}

/* Breadcrumb */

.breadcrumb {
  background-color: #000;
  color: #b7b7b7;
  font-size: 70%;
  padding: 5px 0 5px 10px;
}

.breadcrumb a,
.breadcrumb a:link,
.breadcrumb a:visited {
  color: #f1c600;
  text-decoration: none;
}

.breadcrumb a:hover,
.breadcrumb a:active {
  text-decoration: underline;
}

/*
  General menu stuff
*/

ul.menu li {
  list-style: none;
  list-style-image: none; /* hide image in IE 7 */
}

/* Mainmenu */

#main-menu {
    position: absolute;
    top: 175px;
}

#main-menu ul.menu {
  float: right;
}

#main-menu ul.menu li {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

#main-menu ul.menu li.active-trail,
#main-menu ul.menu li.hover {
  background: url('../images/main-menu-active-bg.png') repeat-x;
  border-right: 1px solid #adadad;
  border-left: 1px solid #adadad;
}

#main-menu ul.menu li.active-trail a,
#main-menu ul.menu li.hover a {
  padding: 3px 19px 2px;
}

#main-menu ul.menu li a {
  color: #000;
  display: block;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 80%;
  font-weight: bold;
  padding: 3px 20px 2px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #fff;
  text-transform: uppercase;
}

#main-menu ul.menu li a:link,
#main-menu ul.menu li a:visited {
  color: #000;
}

#main-menu ul.menu li.active a,
#main-menu ul.menu li a:active {
  color: #000;
}

/* Secondary menu */

#block-menu-secondary-links {
  float: right;
  position: absolute;
  right: 10px;
  text-align: right;
  top: 15px;
  width: 300px;
}

#block-menu-secondary-links ul.menu {
  float: right;
}

#block-menu-secondary-links ul.menu li {
  background-color: #06313f;
  border-radius: 5px;
  -moz-border-radius: 5px;
  display: inline;
  float: left;
  margin: 0 15px 0 0;
  overflow: hidden;
  padding: 0;
}

#block-menu-secondary-links ul.menu li.last {
  margin: 0;
}

#block-menu-secondary-links ul.menu li:hover {
  background-color: #061618;
}

#block-menu-secondary-links ul.menu li a {
  color: #c5e1e3;
  display: block;
  font-size: 70%;
  line-height: 110%;
  margin: 0;
  padding: 4px 8px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #646464;
}

#block-menu-secondary-links ul.menu li a:hover {
    color: #fff;
}

/*
Submenu
*/

#sidebar-left .menu {
  margin: 0;
  padding: 0;
}

#sidebar-left .menu li {
  background-color: #000;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  line-height: 175%;
  margin: 0;
  padding: 0;
}

#sidebar-left .menu li.last {
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-top: 1px solid #000;
}

#sidebar-left .menu li.last a {
  border-top: 1px solid #061215;
}

#sidebar-left .menu li li {
  border-radius: 0;
  -moz-border-radius: 0;
  border-top: 1px solid #000;
}

#sidebar-left .menu li li a {
  border-top: 1px solid #061215;
}

#sidebar-left .menu li a:hover {
  background-color: #000303;
  background-position: 18px 14px;
  border-radius: 0;
  -moz-border-radius: 0;
}

#sidebar-left .menu li.first a:hover {
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
}

#sidebar-left .menu li.last a:hover {
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
}

#sidebar-left .menu li.first li a:hover,
#sidebar-left .menu li li.first a:hover,
#sidebar-left .menu li.last li a:hover,
#sidebar-left .menu li li.last a:hover,
#sidebar-left .menu li li a:hover {
  border-radius: 0;
  -moz-border-radius: 0;
}

#sidebar-left .menu li:first {
  margin: 0;
}

#sidebar-left .menu li li {
  margin: 0;
}

#sidebar-left .menu a {
  background: url('../images/sprites.png') no-repeat 18px -6px;
  color: #666666;
  display: block;
  padding: 6px 0 6px 30px;
  text-decoration: none;
}

#sidebar-left .menu a.active {
  background-position: 18px 14px;
  color: #f1c600;
}

#sidebar-left .menu .menu li a {
  background-position: 33px -47px;
  padding-left: 45px;
}

#sidebar-left .menu .menu li a.active {
  background-position: 33px 14px;
}

#sidebar-left .menu .menu .menu li a {
  background-position: 48px -47px;
  padding-left: 60px;
}

#sidebar-left .menu .menu .menu li a.active {
  background-position: 48px 14px;
}

#sidebar-left .menu .menu .menu .menu li a {
  background-position: 63px -47px;
  padding-left: 75px;
}

#sidebar-left .menu .menu .menu .menu li a.active {
  background-position: 63px 14px;
}

#sidebar-left .menu li a.active-trail {
  font-weight: bold;
}

#sidebar-left .menu .menu li.active-trail .menu {
  background: none;
  border: 0;
}

#sidebar-left .menu a,
#sidebar-left .menu a:link,
#sidebar-left .menu a:visited {
  text-decoration: none;
}

#sidebar-left .menu a:hover {
  color: #f1c600;
}

/* News items on frontpage */

.view-News ul,
.view-News li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.view-News .row {
  border-bottom: 1px solid #000000;
  border-top: 1px solid #11272a;
  clear: both;
  overflow: hidden;
  padding: 30px 0 0;
}

.view-News .row.first {
  border-top: 0;
  padding: 0 0 20px;
}

.view-News .row.last {
  border-bottom: 0;
}

.view-News .body {
  font-size: 90%;
}

.view-News .comment,
.view-News .link {
  font-size: 90%;
  float: left;
}

.view-News .link {
  font-weight: bold;
  float: right;
}

.view-News .link a {
  background: url('../images/sprites.png') no-repeat 0 9px;
  display: block;
  padding: 0 0 0 12px;
  text-decoration: none;
}

.view-News .link a:hover {
  text-decoration: underline;
}

.view-News .posted,
.view-News .user {
  color: #585d5e;
  font-size: 85%;
}

/*
  News
*/

.view-News .title a {
  color: #fff;
  font: bold 150%/100% Arial, Verdana, sans-serif;
  text-decoration: none;
}

.view-News .title a:link,
.view-News .title a:visited,
.view-News .title a:active {
}

.view-News .title a:hover {
  color: #f1c600;
}

/*
  Blocks
*/

#sidebar-right .block {
  margin: 0 0 25px;
}

.block-nodeblock .spotbox .title,
#sidebar-right .block h3 {
  background: url('../images/header-background.png') no-repeat;
  color: #252525;
  font-weight: bold;
  height: 32px;
  line-height: 275%;
  margin: 0;
  overflow: hidden;
  padding: 0 0 0 15px;
}

#sidebar-right .block .content,
#sidebar-right .block .view-comments-recent,
#sidebar-right .block.block-aggregator .item-list {
  background: url('../images/shadow-background.png') repeat-x center bottom;
  padding: 5px 0;
}

#sidebar-right .block .content a,
#sidebar-right .block .view-comments-recent a,
#sidebar-right .block.block-aggregator .item-list li a {
  padding: 3px 0 3px 25px;
}

#sidebar-right .block .comment a,
#sidebar-right .block.block-aggregator .item-list li a {
  background: url('../images/sprites.png') no-repeat 15px 13px;
  display: block;
}

/*
  Login
*/

#header .block-user,
#header .block-admin {
  font-size: 90%;
  position: absolute;
  top: 75px;
  right: 25px;
  width: 470px;
}

#header .block-user form,
#header .block-admin form {
  text-align: right;
}

#header .block-user .openid-link,
#header .block-admin .openid-link {
  display: none;
}

#header .block-user label,
#header .block-admin label {
  display: none;
}

#header .block-user .form-text {
  padding: 5px 3px;
}

#header .block-user .form-item,
#header .block-admin .form-item,
#header .block-user .form-button,
#header .block-admin .form-button {
  display: inline-block;
  font-size: 90%;
  float: none !important;
  margin: 0 10px 0 0;
}

#header .block-user .edit-submit,
#header .block-admin .edit-submit {
  margin: 0;
}

#header .block-user .item-list,
#header .block-admin .item-list {
  background-color: #909090;
  border-radius: 8px;
  -moz-border-radius: 8px;
  display: inline-block;
  float: right;
  margin: 10px 0 0;
  padding: 3px;
}

#header .block-user .item-list li,
#header .block-admin .item-list li {
  float: left;
  font-weight: bold;
  margin: 0 0 0 10px;
  padding: 0;
}

#header .block-user .item-list .last,
#header .block-admin .item-list .last {
  margin: 0 10px 0 10px;
}

/*
  Spotboxes
*/

.block-nodeblock {
  float: left;
  margin: 0 15px 15px 0;
}

.block-nodeblock .spotbox * {
  text-decoration: none;
}

.block-nodeblock .spotbox {
  overflow: hidden;
}

#sidebar-right .block-nodeblock .spotbox .title {
  padding: 0;
}

.block-nodeblock .spotbox .title a {
  color: #252525;
  display: block;
  padding: 0 0 0 15px;
}

.block-nodeblock .spotbox .image {
  line-height: 75%;
}

#sidebar-right .block-nodeblock .spotbox .content,
.block-nodeblock .spotbox .content {
  margin: 0;
  min-height: 50px;
  padding: 15px;
}

.block-nodeblock .spotbox .link {
  display: block;
  margin: 1px 4px 0 0;
  padding: 1px 0 3px 20px;
  text-align: right;
}

.block-nodeblock .spotbox .link a {
  background: url('../images/sprites.png') no-repeat 15px 8px;
  font-weight: bold;
}

.block-nodeblock .spotbox .link a:hover {
  text-decoration: underline;
}

/*
  Form elements
*/

.form-button {
  float: left;
  margin: 0 15px 15px 0;
}

.form-submit {
  background: #c3c3c3 url('../images/white-gradient-shadow-top.png') repeat-x 0 -15px;
  border-top: 1px solid #d3d3d3;
  border-right: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  border-left: 1px solid #d3d3d3;
  color: #616161;
  cursor: pointer;
  font-size: 85%;
  font-weight: bold;
  padding: 6px 10px 5px;
}

.form-submit:hover {
  border: 1px solid #6bb500;
}

.form-text {
  background: #c3c3c3 url('../images/white-gradient-shadow-bottom.png') repeat-x 0 -5px;
  border: 1px solid #a5a5a5;
  color: #726557;
  padding: 2px 3px;
  width: 175px;
}

.form-text:focus {
  background: #c3c3c3 url('../images/white-gradient-shadow-top.png') repeat-x 0 -15px;
}

/*
  Node
*/

.node.node-news_item {
  border-bottom: 1px solid #000000;
  clear: both;
  padding: 0 0 25px;
}

/*
  Comments
*/

#comments {
  border-top: 1px solid #11272a;
  padding: 15px 0 0;
}

#comments h2 {
  padding: 15px 0 0;
}

#comments .comment {
  background-color: #061215;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin: 0 0 15px;
  padding: 10px 15px;
}

#comments .content {
  border-bottom: 1px solid #000000;
  padding: 0 0 10px;
}

#comments .submitted {
  border-top: 1px solid #11272a;
  color: #585d5e;
  font-size: 85%;
  padding: 10px 0 0;
}

#comments ul {
  clear: both;
  overflow: hidden;
  margin: 10px 0;
}

.node ul li.comment_forbidden,
#comments ul li {
  background-color: #0b1b1f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  margin: 0 15px 0 0;
}

.node ul li.comment_forbidden,
#comments ul li.comment_forbidden {
  float: none;
  margin: 0;
  padding: 5px 10px;
}

.node ul li.comment_forbidden {
  margin: 25px 0 0;
}

#comments ul li:hover {
  background-color: #122a30;
}

.node ul li.comment_forbidden:hover,
#comments ul li.comment_forbidden:hover {
  background-color: #0b1b1f;
}

.node ul li.comment_forbidden,
.node ul li.comment_forbidden:hover {
  background-color: #061215;
}

#comments ul li a {
  display: block;
  padding: 0 10px 1px;
}

.node ul li.comment_forbidden a,
#comments ul li.comment_forbidden a {
  display: inline;
  padding: 0;
}

/*
  CKEditor
*/

span.cke_skin_kama {
  width: auto !important;
}

/*
Messages
*/

.messages.status ul {
  list-style: none;
}

div.messages, /* Important messages (status, warning, and error) for the user */
div.status,
div.warning,
div.error {
  clear: both;
  min-height: 21px;
  margin: 0 1em 5px 1em;
  border: 2px solid #3f7987;
  padding: 5px 5px 5px 10px;
  color: #092931;
  background-color: #d7f8f8;
  /* background-image: url(../images/messages/messages-status.png); */
  background-repeat: no-repeat;
  background-position: 5px 5px;
}