/* CSS: Brian Jensen @ www.magnify.dk */

/*
  Google fonts
*/

@import url('http://fonts.googleapis.com/css?family=PT+Sans:regular,bold&subset=cyrillic');

/*
  Font, colors etc.
*/

/*
  Default
*/

html {
  background: #4a808d url('../images/gradient-background.png') repeat-x top center;
  height: 100%;
}

body {
  background: url('../images/body-background.jpg') no-repeat top center;
  color: #969a9b;
  font: 100%/150% Arial, Verdana, sans-serif;
  min-height: 100%;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #f1c600;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}

ul,
.block ul {
  list-style: square;
  margin: 0;
  padding: 0;
}

td {
  vertical-align: top;
}

dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-bottom: 10px;
}

h1,
h2 {
  display: block;
  font: bold 125%/150% Arial, Verdana, sans-serif;
}

h1 a,
h1 a:link,
h1 a:visited,
h1 a:hover,
h1 a:active,
h2 a,
h2 a:link,
h2 a:visited,
h2 a:hover,
h2 a:active {
  color: #fff;
  text-decoration: none;
}

/*
    Generel stuff
*/

.field-author,
.field-post-date {
  color: #585d5e;
  display: inline-block;
  font-size: 75%;
}

.field-body {
  font-size: 75%;
}

/* News items on frontpage */

.front #main-content .node {
  border-bottom: 1px solid #000000;
  border-top: 1px solid #11272a;
}


/*
  Containers
*/

#wrapper {
  padding: 0 0 35px;
}

#header {
  height: 205px;
  position: relative;
}

#logo {
  left: 30px;
  position: absolute;
  top: 25px;
}

#main {
  background: #0e191d url('../images/content-bg.jpg') no-repeat top;
  border-radius: 0 0 8px;
  -moz-border-radius: 0 0 8px 8px;
  padding: 15px 15px 0;
}

#content {
  margin: 0 0 0 15px;
}

.front #content {
  margin: 0 15px 0 0;
}

#sidebar-left,
#sidebar-right {
  background-color: #444444;
  margin: 0;
}

#sidebar-left-inner,
#sidebar-right-inner {
  padding: 10px;
}

/* Breadcrumb */

.breadcrumb {
    background-color: #000;
}

/*
  General menu stuff
*/

ul.menu li {
  list-style: none;
  list-style-image: none; /* hide image in IE 7 */
}

/* Mainmenu */

#main-menu {
    position: absolute;
    top: 175px;
}

#main-menu ul.menu {
  float: right;
}

#main-menu ul.menu li {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

#main-menu ul.menu li.active-trail,
#main-menu ul.menu li.hover {
  background: url('../images/main-menu-active-bg.png') repeat-x;
  border-right: 1px solid #adadad;
  border-left: 1px solid #adadad;
}

#main-menu ul.menu li.active-trail a,
#main-menu ul.menu li.hover a {
  padding: 3px 19px 2px;
}

#main-menu ul.menu li a {
  color: #000;
  display: block;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 80%;
  font-weight: bold;
  padding: 3px 20px 2px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #fff;
  text-transform: uppercase;
}

#main-menu ul.menu li a:link,
#main-menu ul.menu li a:visited {
  color: #000;
}

#main-menu ul.menu li.active a,
#main-menu ul.menu li a:active {
  color: #000;
}

/* Secondary menu */

#block-menu-secondary-links {
  float: right;
  position: absolute;
  right: 10px;
  text-align: right;
  top: 15px;
  width: 300px;
}

#block-menu-secondary-links ul.menu {
  float: right;
}

#block-menu-secondary-links ul.menu li {
  background-color: #06313f;
  border-radius: 5px;
  -moz-border-radius: 5px;
  display: inline;
  float: left;
  margin: 0 15px 0 0;
  overflow: hidden;
  padding: 0;
}

#block-menu-secondary-links ul.menu li.last {
  margin: 0;
}

#block-menu-secondary-links ul.menu li:hover {
  background-color: #061618;
}

#block-menu-secondary-links ul.menu li a {
  color: #c5e1e3;
  display: block;
  font-size: 70%;
  line-height: 110%;
  margin: 0;
  padding: 4px 8px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #646464;
}

#block-menu-secondary-links ul.menu li a:hover {
    color: #fff;
}

/*
  Spotboxes
*/

.block-nodeblock {
  float: left;
  margin: 0 15px 15px 0;
}

.block-nodeblock .spotbox * {
  color: #fff;
  text-decoration: none;
}

.block-nodeblock .spotbox {
  background-color: #fff;
  font-size: 75%;
  min-height: 200px;
  overflow: hidden;
  width: 300px;
}

.block-nodeblock .spotbox .title {
  background: #444444 url('../images/header-bg.png') repeat-x;
  border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  line-height: 345%;
  height: 40px;
}

.block-nodeblock .spotbox .title a {
  display: block;
  font-family: 'Nobile', arial, sans-serif;
  padding: 0 0 0 15px;
}

.block-nodeblock .spotbox .image {
  background: #c3c2c2 url('../images/image-shadow.png') repeat-x top;
  line-height: 75%;
  padding: 2px 0 0;
}

.block-nodeblock .spotbox .content {
  background: #fff url('../images/gradient-shadow-top-8.png') repeat-x top;
  border-top: 1px solid #c3c2c2;
  color: #726557;
  line-height: 135%;
  margin: 0;
  min-height: 45px;
  padding: 15px;
}

.block-nodeblock .spotbox .link {
  float: right;
  line-height: 200%;
  margin: 1px 4px 0 0;
  padding: 1px 0 3px 20px;
}

.block-nodeblock .spotbox .link a {
  color: #f1c600;
  font-weight: bold;
}

.block-nodeblock .spotbox .link a:hover {
  color: #8d3205;
}

/*
  News
*/

.view-News .title a {
  color: #fff;
  display: block;
  font: bold 125%/150% Arial, Verdana, sans-serif;
  text-decoration: none;
}

.view-News .title a:link,
.view-News .title a:visited,
.view-News .title a:hover,
.view-News .title a:active {

}